numpy
pandas
flask
requests
nltk
grpcio-tools
git+https://github.com/NewKnowledge/simon@cd8074c0fc5b5e94eaddc68904537c8fb85e6f2d # Simon attention model ## update Simon install for class weights
tensorflow==1.14
