setuptools
ipykernel
jupyter
matplotlib
numpy
scipy>=0.19.0
sklearn
pandas>=0.19.2
Pillow
Keras>2.0.2,<=2.1.6
tensorflow >=1.1.0,<=1.8.0
faker>=0.7.7
h5py >= 2.7.0
dill
kafka
flask
requests
nltk
grpcio-tools
flask
click # must install manually - `pip3 install click`, won't work through requirements.txt file 
git+https://github.com/NewKnowledge/simon@81abbf365a8bb0b4e73be1e0cbb715d1654bd15b
